.header h1{
    color: rgb(161, 25, 154);
}

li{
    color: rgb(209, 122, 90);
}

.text {
    color: rgb(20, 101, 102);
}

.footer-link {
    color: darkorchid;
}
.title{
    font-size: 35px;
}
.green{
    color: green;
    
}
.red{
    color: red;
}
.blue{
    color: rgb(25, 138, 183);
}
.orange{
    color: orange;
}
